
  <div class="flex">
      <div
          class=" flex flex-grow-0 align-items-center justify-content-center
           font-bold m-2 px-5 py-3 border-round">
          <div height="40" class="mr-2">
          <img [src]="logoUrl +'assets/images/Logo.svg'" alt="logo" />
            </div>
      </div>
      <p-menubar [model]="navItems" #menu styleClass="menucus"
          class="flex-1 w-full flex-grow-0 md:flex-none flex align-items-center  justify-content-center  font-bold m-2 px-5 py-3 border-round --surface-section">
      </p-menubar>
      <div class="flex-grow-0"></div>
  </div>

