.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
  }
  
  .div-content {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    // width: 100px;
    // height: 100px;
    background-color: #fff;
    position: relative;
    transition: transform 0.5s ease;
  }
  
  .hidden {
   // display: none;
  }
  
  .active {
    transform: translateX(200px); /* Move the box to another div */
  }
  
  .bg-color{
    background-color:#e6f5d7
  }
  .bg-white{
    background-color:#fff
  }